{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Tutorial{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        .menu {
            padding-top: 3rem;
            padding-bottom: 3rem;
            background-color: lightblue;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="menu">
        <a href="{% url 'Index' %}">Index</a>
        <a href="{% url 'About US' %}">About US</a>
    </div>
    {% block content %}
        <h1>This is Base Title</h1>
    {% endblock content %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>